* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

.header-container,
.information-container,
.testimonials-container,
.action-container,
.footer-container,
.hero-container {
  padding-left: 80px;
  padding-right: 80px;
}

.header-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  background-color: #1f2937;
  justify-content: space-between;
  align-items: center;
  /* padding-top: 16px; */
}

.logo-container {
  flex-grow: 1;
  color: #f9faf8;
  font-size: 24px;
  font-weight: 500;
}

.logo-image {
  width: 100px;
  height: 90px;
  object-fit: contain;
  margin-top: 10px;
}

.nav-container {
  display: flex;
  gap: 70px;
  color: #e5e7eb;
  font-size: 18px;
  text-decoration: none;
  /* background-color: red; */
  margin-top: -35px;
}

.nav-container :nth-child(1) {
  color: #f86121ff;
}

a {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

a:hover {
  color: #f86121ff;
}

.header-link:hover {
  color: #ffffff;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  background-color: #1f2937;
  padding-top: 70px;
  padding-bottom: 85px;
}

.hero-info {
  width: 40%;
}

.hero-info p:nth-child(1) {
  color: #f9faf8;
  font-size: 48px;
  font-weight: bolder;
}

.hero-info p:nth-child(2) {
  color: #e5e7eb;
  font-size: 18px;
}

.signup-button {
  background-color: #f86121ff;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  color: #f9faf8;
  font-weight: 600;
  cursor: pointer;
}

.hero-image {
  display: flex;
  width: 55%;
  background-color: rgb(134, 143, 151);
  justify-content: center;
  align-items: center;
  color: #e5e7eb;
}

.profile-image {
  width: 100%;
  height: 300px;
  object-fit: fill;
}

.information-container {
  display: flex;
  background-color: white;
  align-items: center;
  flex-direction: column;
  padding: 22px 0 100px;
}

.information-header {
  font-size: 36px;
  font-weight: bolder;
  color: #262b2fff;
}

.info-card-wrapper {
  display: flex;
  padding-top: 20px;
  width: 60%;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.info-card {
  height: 160px;
  width: 160px;
  font-size: 14px;
  color: rgb(79, 78, 78);
}

.info-card-image {
  height: 160px;
  width: 160px;
  border: 2px solid #f86121ff;
  border-radius: 10px;
  margin-bottom: 5px;
}

.testimonials-container {
  display: flex;
  background-color: #e5e7eb;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 70px 0;
}

.testimonials-content-container {
  display: flex;
  flex-direction: column;
  width: 67%;
  font-size: 32px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
}

.testimonials-content-container p:nth-child(2) {
  align-self: flex-end;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  margin-top: 10px;
}

.action-container {
  display: flex;
  background-color: white;
  padding: 50px 0;
  justify-content: center;
  align-items: center;
}

.action-card {
  display: flex;
  width: 70%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #262b2fff;
  padding: 30px 55px;
  border-radius: 5px;
}

.action-card p:nth-child(1) {
  color: #f9faf8;
  font-size: 18px;
  font-weight: 400;
}

.action-card p:nth-child(2) {
  color: #e5e7eb;
  font-size: 13px;
}

.action-signup-button {
  background-color: #f86121ff;
  border: 1px solid #f9faf8;
  color: #f9faf8;
  padding: 5px 25px;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
}

.signup-button:hover,
.action-signup-button:hover {
  background-color: #f9faf8;
  color: #f86121ff;
}

.footer-container {
  display: flex;
  background-color: #1f2937;
  padding: 20px;
  justify-content: center;
  color: #e5e7eb;
  font-size: 14px;
}
